<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cinema World | About Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Lien vers les fichiers CSS dans le dossier static/css/ -->
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <script src="static/js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="static/js/cufon-yui.js" type="text/javascript"></script>
    <script src="static/js/cufon-replace.js" type="text/javascript"></script>
    <script src="static/js/Gill_Sans_400.font.js" type="text/javascript"></script>
    <script src="static/js/script.js" type="text/javascript"></script>
    <!-- Compatibility avec IE -->
    <!--[if lt IE 7]>
        <script type="text/javascript" src="static/js/ie_png.js"></script>
        <script type="text/javascript">ie_png.fix('.png, .link1 span, .link1');</script>
        <link href="static/css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <div id="header">
                <div class="row-1">
                    <div class="fleft"><a href="#">Cinema <span>World</span></a></div>
                    <ul>
                        <!-- Lien vers les images dans le dossier static/images/ -->
                        <li><a href="#"><img src="static/images/icon1.gif" alt="" /></a></li>
                        <li><a href="#"><img src="static/images/icon2.gif" alt="" /></a></li>
                        <li><a href="#"><img src="static/images/icon3.gif" alt="" /></a></li>
                    </ul>
                </div>
                <div class="row-2">
                   <ul>
                            <li><a href="{% url 'index' %}"class="active">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'sparql_query' %}">Requêtes SPARQL</a></li>
                            <li><a href="{% url 'profile' %}">Préférences</a></li>
                            <li class="last"><a href="sitemap.html">Sitemap</a></li>
                        </ul>
                </div>
            </div>
            <div id="content">
                <div class="line-hor"></div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <h3>About <span>Us</span></h3>
                                <p class="p1">Chez Cinema World, nous sommes passionnés par les films et la manière dont ils nous connectent, nous divertissent et nous inspirent. Notre mission est de vous offrir une plateforme complète où vous pouvez découvrir les derniers films, lire des critiques, explorer des bandes-annonces, et en apprendre davantage sur vos réalisateurs, acteurs et genres préférés.</p>
                                <p>Notre mission est de fournir un accès facile et rapide à une vaste base de données cinématographique. Nous offrons aux cinéphiles un endroit pour se retrouver et discuter des films qui les passionnent. Nous visons à créer une communauté où les amateurs de cinéma peuvent se connecter, échanger des idées et découvrir de nouveaux films à regarder.</p>
                                <p><strong>Ce que nous offrons :</strong></p>
                                <ul>
                                    <li><strong>Une bibliothèque de films :</strong> Accédez à une vaste collection de films récents et classiques, accompagnée d'informations détaillées sur chaque titre, y compris des critiques, des notes et des bandes-annonces.</li>
                                    <li><strong>Des critiques et recommandations :</strong> Lisez des critiques impartiales et des suggestions sur les films à ne pas manquer. Découvrez des films en fonction de vos goûts et préférences.</li>
                                    <li><strong>Des fonctionnalités interactives :</strong> Participez à des forums de discussion, commentez des films et échangez des opinions avec d'autres passionnés de cinéma.</li>
                                    <li><strong>Actualités et événements cinématographiques :</strong> Restez informé des dernières nouvelles sur les sorties de films, les festivals, et les événements spéciaux liés au cinéma.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h3>Our <span>Team</span></h3>
                      <ul class="list">
        <!-- Link to team member images in the static/images/ folder -->
        <li><img src="static/images/selma1.jpg" alt="Selma Ait Oukhadou" /><a href="#">Selma Ait Oukhadou</a><br />
            Selma is a passionate software developer with a strong focus on ERP systems. She specializes in Business Central and enjoys building efficient and scalable applications. Her expertise in software development, combined with her enthusiasm for ERP solutions, drives her to innovate and solve complex problems with tailored solutions. Selma is committed to continuous learning and growth in the tech industry.</li>
        <li><img src="static/images/sara1.jpg" alt="Sara Boulaid" /><a href="#">Sara Boulaid</a><br />
            Sara is passionate about data science and data analysis. She has a deep understanding of how to interpret and leverage data to derive actionable insights. Her expertise spans across data processing, statistical analysis, and machine learning, which she uses to solve real-world challenges. Sara thrives in environments where data can inform decision-making and drive business success.</li>
    </ul>
                </div>
            </div>
            <div id="footer">
                <div class="left">
                    <div class="right">
                        <div class="footerlink">
                            <p class="lf">Copyright &copy; 2010 <a href="#">Cinema World</a> - All Rights Reserved</p>
                            <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>
